// Footer Component Styles
@import "/src/index";
.copy-clipboard {
  display: flex;
  justify-content: center;
  min-width: 55px;
  .copied {
    display: flex;
    align-items: center;
    span {
      font-size: 12px;
      margin-left: 0.2rem;
    }
  }
  img {
    cursor: pointer;
    margin: 0 auto;
    width: 16px;
  }
}
